<h2 mat-dialog-title>{{ editingEnrollments ? "Editar Inscripción" : "Crear Inscripción" }}</h2>
<mat-dialog-content>
    <form [formGroup]="enrolForm">
        <mat-form-field appearance="fill" class="col-12 md:col-5">
            <mat-label>Id del Curso</mat-label>
            @if (editingEnrollments) {
              <input matInput disabled value="{{ editingEnrollments.id }}" class="text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary"/>
            } @else {
              <input matInput name="id" formControlName="id" class="text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary"/>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Estudiantes</mat-label>
            

            <mat-select formControlName="alumno" required>
              <mat-option>--</mat-option>
              @for (alum of getLisStudents(); track alum) {
                <mat-option [value]="alum.name">{{alum.name}}</mat-option>
              }
            </mat-select>

          </mat-form-field>

          <mat-form-field>
            <mat-label>Cursos</mat-label>
            

            <mat-select formControlName="curso" required>
              <mat-option>--</mat-option>
              @for (cur of getLisCourses(); track cur) {
                <mat-option [value]="cur.title">{{cur.title}}</mat-option>
              }
            </mat-select>

          </mat-form-field>


         
       
    </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="onSubmit()">Crear</button>
</mat-dialog-actions>
