<h2 mat-dialog-title appFontsize>Detalle Curso</h2>

<mat-dialog-content>
    <form [formGroup]="courseForm">
        @if (editingCourse) {
      <mat-form-field  class="col-12 md:col-5">
        <h2 appFontsize>Id del Curso</h2>        
       
            <p>{{ editingCourse.id }}</p>
       
      </mat-form-field>
  
      <mat-form-field class="col-12 md:col-5">
        <h2 appFontsize>Nombre del Curso</h2>       
        {{editingCourse.title}}
      
      </mat-form-field>
  
      <mat-form-field class="col-12 md:col-5">
        <h2 appFontsize>Descripción del Curso</h2>
        {{editingCourse.description}}
      </mat-form-field>
    } 
    </form>
    <button mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon><p>cerrar</p>
    </button>
  </mat-dialog-content>