<button mat-flat-button (click)="openDialog()" color="primary">
    <mat-icon>add</mat-icon> Inscribir
  </button>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <table
    *ngIf="!isLoading"
    mat-table
    [dataSource]="dataEnrol"
    class="mat-elevation-z8"
  >

  <ng-container matColumnDef="id">
    <!-- Encabezado -->
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <!-- Dato -->
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="alumno">
   
        <th mat-header-cell *matHeaderCellDef>Alumnos</th>
        <td mat-cell *matCellDef="let element">{{ element.alumno }}</td>
      
  </ng-container>
  <ng-container matColumnDef="curso">
   
    <th mat-header-cell *matHeaderCellDef>Cursos</th>
    <td mat-cell *matCellDef="let element">{{ element.curso }}</td>
  
</ng-container>
<ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="editEnrol(element)">
        <mat-icon>edit</mat-icon>
      </button>

      <button
      mat-icon-button
      color="primary"
      (click)="deleteEnrolById(element.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>