<h1 mat-dialog-title>Datos de la API</h1>
<div mat-dialog-content>
  
  <mat-form-field  class="col-12 md:col-5">
    <h2 appFontsize>Rut del Alumno</h2>        
   
        <p>{{ user.rut | formatrut }}</p>
   
  </mat-form-field>

  <mat-form-field class="col-12 md:col-5">
    <h2 appFontsize>Nombre</h2>       
    {{user.name}}
  
  </mat-form-field>

  <mat-form-field class="col-12 md:col-5">
    <h2 appFontsize>Apellido</h2>       
    {{user.lastname}}
  
  </mat-form-field>

  <mat-form-field class="col-12 md:col-5">
    <h2 appFontsize>fecha</h2>
    {{user.fmodification | date : "dd/MM/yyyy"}}
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>